section.about
    .wrapper
        .about-block
            .about-block__img  
                img.page__img(src="assets/img/img-girl.png", alt="img")
            .about-block__text
                h2.page__title-h2 About Author
                .page__subtitle Betty D. Abraham
                .page__text_italic Li Europan lingues es membres del sam familie.
                .page__text Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues esser tam simplic Occidental esser Occidental. A un Angleso it va semblar un simplificat skeptic Cambridge amico Occidental es.
                .page__text_author Betty D. Abraham
                include social-three-icon