section.banner
    .wrapper
        .banner-block
            .banner-block__text
                h1.page__title-h1 This book is&nbsp;by&nbsp;an&nbsp;award winning and globally recognized author.
                p.page__text Nulla consequat massa quis enim, donec pede justo, fringillal li&nbsp;vel, aliquet nec, vulputate eget, arcuI enim justo, rhoncus&nbsp;ut, lit imperdiet&nbsp;a, venenatis vitae, justo. Nullam dictum felis eu&nbsp;pede mollis pretium.
                .banner-block__actions
                    a.page__btn(href="#overview") Learn More
                    a.page__btn.page__btn_white(href="#") Buy Now
            .banner-block__img
                img.page__img(src="assets/img/img-student-books.png", alt="img1")
            