section.buy
    .wrapper
        h2.page__title-h2 Buy Now for eBook
        .page__text_italic At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.
        .buy-block
            .buy-block__img
                img(src="assets/img/img-books.png", alt="")
            .buy-block__text
                h2.page__title-h2_big Build Your Successful Career
                .page__text_bold Only $ 42.00
                .page__text It va esser tam simplic quam Occidental in fact, it Occidental. Angleso  semblar skeptical Cambridge amico dit me que Occidental es.