section.contact
    .wrapper
        h2.page__title-h2 Contact for eBook
        .page__text_italic At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.
        .contact-block
            .contact-block-info
                .contact-block-info_circle
                    .contact-block-info__icon
                    h3.page__title-h3_big Near Westfield, Building London, United Kingdom
                    .page__text.page__text_line-up-down Cambridge University newYork
                    a.page__link(href="tel:1800- 452 -4500") 1800- 452 -4500
            .contact-block-form
                form.page__form(action="")
                    input.page__input(type="text" name="userName"  placeholder='Your Name*' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" required)
                    input.page__input(type='email' name="email" placeholder='Your Email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'")
                    textarea.page__textarea(name="textarea" placeholder='Write your message' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write your message'")
                    button.page__btn(type="submit") Send Message