section.testimonial
    .testimonial_parallax
    .testimonial_opacity
    .wrapper
        .page__title-h2 Testimonial for eBook
        .page__text_italic At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.
        .testimonial-block
            img.page__img(src="assets/img/img-man.jpg")
            .page__text.page__text_bold John Hoggard
            .page__text Emax Agency
            .page__text.page__text_md-8.page__text_padding-top “ Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues. It va esser tam simplic quam Occidental in fact, it va esser Occidental. A un Angleso it va semblar un simplificat Angles, es. ”
